/* Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
figure,
button {
  margin: 0;
  padding: 0;
}

body,
input,
select,
textarea,
button {
  font-family: 'Inter', sans-serif;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input {
  border: 0;
  line-height: 0;
  background: transparent;
}

.blind {
  overflow: hidden;
  position: absolute;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  line-height: 1px !important;
  clip: rect(1px, 1px, 1px, 1px);
}
/* // Reset */

/* Animation */
@keyframes moveInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
/* // Animation */

/* Common */
.inner {
  --width: calc(100% - 64px);
  max-width: min(1120px, var(--width));
  margin: 0 auto;
  padding: 80px 0;
  box-sizing: border-box;
}

.btn {
  --height: 46px;
  display: inline-block;
  min-width: min(183px, 100%);
  height: var(--height);
  border-radius: 8px;
  background-color: #141718;
  font-weight: 500;
  text-align: center;
  color: #fff;
  letter-spacing: -0.4px;
  line-height: var(--height);
  box-sizing: border-box;
}

.btn:hover {
  opacity: 0.8;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.more_link::before,
.icon {
  display: inline-block;
  overflow: hidden;
  width: 24px;
  height: 24px;
  background-image: url(../images/sp_icons.png);
  background-repeat: no-repeat;
  background-size: 251px 51px;
  vertical-align: top;
  cursor: pointer;
  box-sizing: border-box;
}

.icon_search {
  background-position: -1px -1px;
}

.icon_user {
  background-position: -26px -1px;
}

.icon_cart {
  background-position: -51px -1px;
}

.icon_menu {
  background-position: -76px -1px;
}

.icon_close {
  background-position: -101px -1px;
}

.icon_like {
  background-position: -126px -1px;
}

.icon_instagram {
  background-position: -151px -1px;
}

.icon_facebook {
  background-position: -176px -1px;
}

.icon_youtube {
  background-position: -201px -1px;
}

.icon_instagram2 {
  background-position: -1px -26px;
}

.icon_facebook2 {
  background-position: -26px -26px;
}

.icon_youtube2 {
  background-position: -51px -26px;
}

.icon_star {
  background-position: -176px -26px;
}

.icon_camera {
  background-position: -201px -26px;
}

.icon_arrow_down {
  background-position: -226px -1px;
}

.icon_arrow_left {
  background-position: -226px -26px;
}

.logo_box {
  display: flex;
  align-items: center;
}

.logo,
.logo_link {
  display: inline-flex;
}

.logo_img {
  margin-top: 3px;
}

.dimmed {
  visibility: hidden;
  position: fixed;
  inset: 0;
  z-index: 2;
  background-color: #00000052;
  opacity: 0;
  transition: all 0.3s ease;
}

.dimmed.is_show {
  visibility: visible;
  opacity: 1;
}

.social_list {
  display: flex;
  gap: 12px;
  margin: 0px 0 -6px -6px;
}

.social_link {
  display: inline-block;
  padding: 6px;
  box-sizing: border-box;
}

.section_heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 40px;
  color: #000;
  line-height: 44px;
  letter-spacing: -0.4px;
}

.more_link {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  position: relative;
  font-weight: 500;
  color: #121212;
  height: 28px;
  letter-spacing: -0.4px;
  box-sizing: border-box;
}

.more_link::after,
.more_link::before {
  display: inline-block;
  content: '';
}

.more_link::after {
  position: absolute;
}

.more_link::after {
  bottom: 0px;
  width: 100%;
  height: 1px;
  background-color: #121212;
}

.more_link::before {
  margin: 0 -2px 0 -1px;
  background-position: -100px -26px;
}
/* Select */
.select .select_item {
  position: relative;
}

.select .select_item + .select_item{
  margin-top: 14px;
}

.select .select_link {
  display: block;
  padding: 8px 0 6px;
  font-weight: 600;
  font-size: 16px;
  color: #605f5f;
  line-height: 26px;
  -webkit-tap-highlight-color: transparent;
}

.select .select_item.is_active .select_link {
  color: #141718;
}

.select .select_item.is_active::after {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #141718;
  pointer-events: none;
  content: '';
}
/* // Select */
.mobile_only {
  display: none;
}

@media (max-width: 768px) {
  .mobile_only {
    display: block;
  }

  .select .btn_option,
  .select_list {
    border: 2px solid #6c7275;
    border-radius: 8px;
    background-color: #fff;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
  }
  
  .select .btn_option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 48px;
    padding: 0 12px 0 16px;
  }

  .select .btn_option::after {
    display: inline-block;
    overflow: hidden;
    width: 24px;
    height: 24px;
    background-image: url(../images/sp_icons.png);
    background-repeat: no-repeat;
    background-size: 251px 51px;
    background-position: -226px -1px;
    vertical-align: top;
    box-sizing: border-box;
    transition: rotate 0.2s ease;
    content: '';
  }

  .select .btn_option.is_show::after{
    rotate: 180deg;
  }

  .select .select_option{
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease;
  }

  .select .select_option.is_show{
    max-height: 290px;
    margin-top: 16px;
  }

  .select .select_list{
    padding: 8px 0;
  }

  .select .select_item:hover{
    background-color: #dfdfdf;
  }

  .select .select_link {
    padding: 8px 16px;
  }

  .select .select_item.is_active::after {
    display: none;
  }
}

/* Star rating */
.rating {
  --dir: right;
  --fill: gold;
  --fill-bg: #343839;
  --star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 17.25l-6.188 3.75 1.641-7.031-5.438-4.734 7.172-0.609 2.813-6.609 2.813 6.609 7.172 0.609-5.438 4.734 1.641 7.031z"/></svg>');
  --stars: 5;
  --star-size: 16px;
  --star-spacing: 2px;
  --symbol: var(--star);
  --value: 1;
  /* --w: calc(var(--stars) * var(--star-size)); */
  --w: calc(var(--stars) * var(--star-size) + (var(--stars) - 1) * var(--star-spacing));
  --x: calc(100% * (var(--value) / var(--stars)));
  block-size: var(--star-size);
  inline-size: var(--w);
  position: relative;
  touch-action: manipulation;
  -webkit-appearance: none;
  appearance: none;
}
.rating::-webkit-slider-runnable-track {
  background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fill-bg) 0 var(--x));
  block-size: 100%;
  /* mask: repeat left center/var(--star-size) var(--symbol);
  -webkit-mask: repeat left center/var(--star-size) var(--symbol); */
  mask: repeat left center/calc(var(--star-size) + var(--star-spacing)) var(--symbol);
  -webkit-mask: repeat left center/calc(var(--star-size) + var(--star-spacing)) var(--symbol);
}

.rating::-webkit-slider-thumb {
  height: var(--star-size);
  opacity: 0;
  width: var(--star-size);
  -webkit-appearance: none;
}
.rating,
.rating-label {
  display: block;
}
/* // Common */
