/* Form */
.account .heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 54px;
  text-align: center;
  line-height: 58px;
  letter-spacing: -1px;
}

.account_wrap {
  display: flex;
  gap: 7px;
  margin-top: 80px;
}

.account_menu {
  align-self: flex-start;
  flex-shrink: 0;
  min-width: 262px;
  padding: 40px 16px;
  border-radius: 8px;
  background-color: #f3f5f7;
  box-sizing: border-box;
}

.account .select_list {
  margin-top: 40px;
}

.account .form {
  flex-grow: 1;
  margin-top: -40px;
  padding: 0 72px;
}

.account_title {
  margin-top: 40px;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}

.account_note {
  margin-top: 12px;
  font-style: italic;
  font-size: 12px;
  color: #6c7275;
  line-height: 20px;
  user-select: none;  
}
/* // Form */
/* Responsive */
.pc_hide {
  display: none;
}

@media (max-width: 768px) {
  .mobile_show {
    display: block;
  }

  .mobile_hide {
    display: none;
  }

  .section_heading {
    font-size: 34px;
    line-height: 38px;
    letter-spacing: -0.6px;
  }

  .more_link {
    font-size: 14px;
    height: 24px;
    letter-spacing: 0px;
  }
  /* Form */
  .account .inner {
    padding-top: 8px;
  }

  .account_wrap {
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
  }

  .account .heading {
    margin: 32px 0 0 -14px;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -0.4px;
  }

  .account_menu {
    min-width: 100%;
  }

  .account .form {
    padding: 0;
  }

  .account .btn_option {
    margin-top: 40px;
  }

  .back_btn {
    display: inline-flex;
    align-items: center;
    padding: 8px 8px 8px 0;
    font-weight: 500;
    font-size: 14px;
    color: #605f5f;
    line-height: 24px;
  }

  .back_btn .icon_arrow_left {
    margin: 0 -2px 0 -6px;
  }

  .account .select_list {
    margin-top: 0;
  }
  /* //Form */
}
/* //Responsive */
