/* Header styles*/
.header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #fff;
}

.header_area {
  --width: calc(100% - 64px);
  display: flex;
  align-items: center;
  max-width: min(1120px, var(--width));
  margin: 0 auto;
  padding: 14px 0;
}

.header_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.nav_list {
  display: flex;
}

.nav_link {
  display: inline-block;
  padding: 4px 20px;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #6c7275;
  transition: color 0.3s ease-in-out;
}

.nav_link:hover {
  color: #141718;
}

.header_area .action_list {
  display: flex;
  align-items: center;
  margin: 0 -4px;
}

.header_area .action_link {
  display: inline-flex;
  align-items: center;
  padding: 4px;
  box-sizing: border-box;
}

.header_area .action_item + .action_item {
  margin-left: 8px;
}

.header_area .action_item:nth-child(3) {
  margin-left: 9px;
}

.header_area .action_link_icon {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.header_area .quantity {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #141718;
  font-size: 12px;
  font-weight: 700;
  line-height: 10px;
  color: #fff;
  cursor: default;
}

.header .input_wrap:focus-within {
  outline: 1px solid #000;
}
/* // Header styles */

/* Responsive */
.pc_hide {
  display: none;
}

@media (max-width: 768px) {
  .mobile_show {
    display: block;
  }

  .mobile_hide {
    display: none;
  }
  /* Header */
  .header .logo_img {
    width: 70px;
  }

  .header_area {
    max-width: 100%;
    padding: 8px 32px 8px 22px;
  }

  .header .menu_btn {
    padding: 10px 4px 10px 10px;
  }

  .header .close_btn {
    padding: 8px;
  }

  .header.is_show .logo_img {
    margin-top: 5px;
  }

  .header.is_show {
    position: fixed;
    z-index: 3;
    inset: 0 8.53333% 0 0;
    animation: moveInLeft 0.3s ease;
  }

  .header.is_show .header_area {
    display: block;
    height: 100%;
    padding: 24px;
    box-sizing: border-box;
  }

  .header.is_show .header_box {
    flex-direction: column;
    justify-content: initial;
    align-items: initial;
    height: 100%;
    background-color: #fff;
  }

  .header.is_show .menu_btn {
    display: none;
  }

  .header.is_show .close_btn {
    display: block;
    position: absolute;
    top: 16px;
    right: 16px;
  }

  .header.is_show .input_wrap {
    display: flex;
    align-items: center;
    height: 46px;
    margin-top: 17px;
    padding: 0 8px 0 15px;
    border: 1px solid #6c7275;
    border-radius: 6px;
    box-sizing: border-box;
  }

  .header.is_show .input {
    width: 100%;
    height: 100%;
    padding: 0 8px;
    font-size: 14px;
    line-height: 22px;
    outline: none;
  }

  .header.is_show .input::placeholder {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #6c7275;
    line-height: 22px;
    letter-spacing: 0px;
  }

  .header.is_show .nav {
    display: block;
    margin-top: -6px;
  }

  .header.is_show .nav_list {
    flex-direction: column;
  }

  .header.is_show .nav_link {
    display: block;
    position: relative;
    margin-top: 12px;
    padding: 10px 0;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    box-sizing: border-box;
  }

  .header.is_show .action_link::after,
  .header.is_show .nav_link::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #e8ecef;
    content: '';
  }

  .header.is_show .nav_link::after{
    bottom: -6px;
  }

  .header.is_show .action_link::after{
    bottom: -4px;
  }

  .header.is_show .action_list {
    flex-direction: column;
    margin: auto 0 0;
  }
  .header.is_show .action_item_show {
    display: flex;
  }
  .header.is_show .action_item {
    width: 100%;
    margin-left: 0;
  }

  .header.is_show .action_link {
    position: relative;
    width: 100%;
    margin-top: 8px;
    padding: 4px 0;
  }

  .header.is_show .title {
    display: block;
    flex: 1;
    font-size: 18px;
    font-weight: 500;
    color: #6c7275;
    line-height: 32px;
    letter-spacing: -0.4px;
  }

  .header.is_show .btn_signin {
    --height: 52px;
    display: block;
    margin-top: 30.33px;
    border-radius: 6px;
    font-size: 18px;
  }

  .header.is_show .social_list {
    display: flex;
    margin-top: 13.33px;
  }
  /* // Header */
}
/* //Responsive */
