/* Product */
.product {
  overflow: hidden;
  position: relative;
}

.product .inner {
  padding: 48px 0 52px;
}

.product .section_heading {
  max-width: 149px;
}

.product .more_link{
  margin-top: auto;
}

.product_area {
  margin-top: 48px;
}

.product_card {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.product_card:hover .btn_favourite {
  transform: translateX(0);
}

.product_card:hover .btn_add {
  transform: translate(-50%, 0);
}

.product_box {
  overflow: hidden;
  position: relative;
}

.product_img_wrap {
  display: block;
  position: relative;
  padding-top: 133.206%;
}

.badge_wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  top: 16px;
  left: 16px;
}

.badge {
  display: inline-block;
  align-self: flex-start;
  min-width: 67px;
  padding: 4px;
  border-radius: 4px;
  background-color: #fff;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  box-sizing: border-box;
}

.badge_sale {
  min-width: 71px;
  background-color: #38cb89;
  color: #fefefe;
}

.product .btn_favourite {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 8px 16px -8px rgba(15, 15, 15, 0.12);
  transform: translateX(150%);
  transition: transform 0.25s ease;
}

.product .icon_like {
  background-position: -151px -25px;
}

.product .btn_add {
  position: absolute;
  left: 50%;
  bottom: 16px;
  width: calc(100% - 32px);
  transform: translate(-50%, 150%);
  transition: transform 0.25s ease, opacity 0.25s ease;
}

.product .title {
  display: -webkit-box;
  overflow: hidden;
  margin: 5px 0 4px;
  font-size: 16px;
  font-weight: 600;
  color: #141718;
  line-height: 26px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.product .price_box {
  margin-top: auto;
  font-size: 0;
}

.product .price {
  font-size: 14px;
  font-weight: 600;
  color: #121212;
  line-height: 22px;
}

.product .price_origin {
  margin-left: 12px;
  font-weight: 400;
  color: #6c7275;
  text-decoration: line-through;
}

.product_slides {
  overflow: visible;
  padding-bottom: 51px;
}

.product_slides .swiper-wrapper {
  display: flex;
  align-items: stretch;
}
.product_slides .swiper-slide {
  display: flex;
  width: 262px;
  height: auto;
}

.product_slides .swiper-scrollbar {
  --swiper-scrollbar-bottom: 0px;
  --swiper-scrollbar-sides-offset: 0px;
  --swiper-scrollbar-bg-color: #e8ecef;
  --swiper-scrollbar-drag-bg-color: #343839;
}

.product_slides .swiper-scrollbar-drag {
  cursor: grab;
}
.product_slides .swiper-scrollbar-drag:active {
  cursor: grabbing;
}
/* // Product */
/* Responsive */
.pc_hide {
  display: none;
}

.mobile_only {
  display: none;
}

@media (max-width: 768px) {
  .mobile_only {
    display: block;
  }

  .mobile_show {
    display: block;
  }

  .mobile_hide {
    display: none;
  }

  /* Product */
  .product .inner {
    padding: 32px 0 96px;
  }

  .product .more_link{
    position: absolute;
    bottom: 32px;
    left: 32px;
  }

  .product_area {
    margin-top: 40px;
  }

  .product_slides .swiper-slide {
    width: 231px;
  }

  .product_img_wrap {
    padding-top: 133.333%;
  }

  .product .btn_add {
    bottom: 14px;
    width: calc(100% - 28px);
  }

  .product_slides {
    padding-bottom: 43px;
  }
}
/* //Responsive */
