/* Blog */
.blog_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog_list {
  display: flex;
  margin-top: 40px;
}

.blog_item {
  width: calc((100% - 50px) / 3);
}

.blog_item + .blog_item {
  margin-left: 25px;
}

.blog_item .more_link{
  align-self: flex-start;
  margin-top: auto;
}

.blog_box{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.blog_box:hover .blog_img {
  scale: 1.1;
}

.blog_img_wrap {
  overflow: hidden;
  position: relative;
  padding-top: 91.1215%;
}

.blog_img {
  transition: scale 0.25s ease;
}

.blog_title {
  display: -webkit-box;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #23262f;
  text-overflow: ellipsis;
  line-height: 28px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.blog_link {
  display: block;
}

.blog_link + .blog_link {
  margin: 24px 0 9px;
}
/* // Blog */
/* Responsive */
.pc_hide {
  display: none;
}

@media (max-width: 768px) {
  .mobile_show {
    display: block;
  }

  .mobile_hide {
    display: none;
  }

  .section_heading {
    font-size: 34px;
    letter-spacing: -0.6px;
    line-height: 38px;
  }

  .more_link {
    height: 24px;
    font-size: 14px;
    letter-spacing: 0px; 
  }     

  /* Blog */
  .blog .inner {
    padding: 40px 0;
  }

  .blog_top{
    flex-wrap: wrap;
    row-gap: 12px;
  }

  .blog .more_link {
    align-self: flex-end;
  }


  .blog_list {
    flex-direction: column;
  }

  .blog_item {
    width: 100%;
  }

  .blog_item + .blog_item {
    margin: 24px 0 0;
  }

  .blog_img_wrap {
    padding-top: 90.997%;
  }

  .blog_title {
    margin-top: 16px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
  }
  /* // Blog */
}
/* //Responsive */
