.account .heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 54px;
  text-align: center;
  line-height: 58px;
  letter-spacing: -1px;
}

.account_wrap {
  display: flex;
  margin-top: 80px;
}

.account_wrap .account_sidebar {
  align-self: flex-start;
}

.account .order_history {
  flex-grow: 1;
  margin-left: 7px;
  padding: 0 62px;
}

.order_history .title {
  padding-left: 10px;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}

.order_history col:first-child {
  width: 29.8%;
}

.order_history col:nth-child(2) {
  width: 24.3%;
}

.order_history col:nth-child(3) {
  width: 24.3%;
}

.order_history col:nth-child(4) {
  width: 21.6%;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 32px;
}

.table th,
td {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  line-height: 22px;
}

.table tr {
  position: relative;
}

.table tr::after {
  position: absolute;
  height: 1px;
  width: calc(100% - 20px);
  background-color: #e8ecef;
  bottom: 0;
  left: 10px;
  content: '';
}

.table th {
  padding: 8px 10px;
  color: #6c7275;
}

.table td {
  padding: 24px 10px;
  color: #141718;
}
/* Responsive */
.pc_hide {
  display: none;
}

.mobile_only {
  display: none;
}

@media (max-width: 768px) {
  .mobile_only {
    display: block;
  }

  .mobile_show {
    display: block;
  }

  .mobile_hide {
    display: none;
  }

  .account_wrap {
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
  }

  .account .select_option {
    z-index: 1;
  }

  .account .heading {
    margin-right: -14px;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -0.4px;
  }

  .account .btn_option {
    margin-top: 40px;
  }

  .account .select_list {
    margin-top: 0;
  }

  .account .order_history {
    position: relative;
    overflow-x: auto;
    margin-left: 0;
    padding: 0 6px;
  }

  .account .table {
    min-width: 600px;
  }

  .order_history .title {
    position: sticky;
    left: 0;
  }

  .order_history col:first-child {
    width: 24%;
  }

  .order_history col:nth-child(2) {
    width: 28%;
  }

  .order_history col:nth-child(3) {
    width: 24%;
  }

  .order_history col:nth-child(4) {
    width: 24%;
  }
}
/* //Responsive */
